<%- contentFor('title') %>
Status of a device <%= device.name %>

<%- contentFor('content') %>
<div class="row">
  <div class="col col-xl-6">
    <h1>Device Status</h1>
    
    <table class="table">
      <thead>
        <tr>
          <th>Property</th>
          <th>Value</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <th>id</th>
          <td><%= device.id %></td>
        </tr>

        <tr>
          <th>name</th>
          <td><%= device.name %></td>
        </tr>

        <tr>
          <th>Type</th>
          <td><%= device.type %></td>
        </tr>

        <tr>
          <th>Power</th>
          <td>
            <% if (device.powerOn == 1) { %>
              <span class="badge rounded-pill bg-success">On</span>
            <% } else { %>
              <span class="badge rounded-pill bg-secondary">Off</span>
            <% } %>
          </td>
        </tr>

        <tr>
          <th>status</th>
          <td><%= device.status %></td>
        </tr>

        <tr>
          <th>description</th>
          <td><%= device.description %></td>
        </tr>

        <% if (device.type === 'ac' || device.type === 'heater' || device.type === 'thermometer_sensor') { %>
          <tr>
            <th>temperature sensor value</th>
            <td><%= device.temperatureSensorValue %></td>
          </tr>
        <% } %>

        <% if (device.type === 'ac' || device.type === 'heater') { %>
          <tr>
            <th>temperature target value</th>
            <td><%= device.temperatureTargetValue %></td>
          </tr>
        <% } %>

        <% if (device.type === 'tv' || device.type === 'door_chime') { %>
          <tr>
            <th>volume</th>
            <td><%= device.volume %></td>
          </tr>
        <% } %>
      </tbody>
    </table>
  </div>
</div>
