<%- contentFor('title') %>
Status of a device <%= device.name %>

<%- contentFor('content') %>

<% if (successMessage.length > 0) { %>
<div class="alert alert-success alert-dismissible d-flex align-items-center fade show" role="alert">
  <svg class="bi flex-shrink-0 me-2" width="24" height="24" role="img" aria-label="Success:"><use xlink:href="/bootstrap-icons/bootstrap-icons.svg#check-circle-fill"/></svg>
  <div>
    <%= successMessage %>
  </div>
  <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
</div>
<% } %>

<div class="row">
  <div class="col col-xl-6">
    <h1>Device Status</h1>
    
    <table class="table">
      <thead>
        <tr>
          <th>Property</th>
          <th>Value</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <th>id</th>
          <td><%= device.id %></td>
        </tr>

        <tr>
          <th>name</th>
          <td><%= device.name %></td>
        </tr>

        <tr>
          <th>Power on</th>
          <td><%= device.powerOn %></td>
        </tr>

        <tr>
          <th>status</th>
          <td><%= device.status %></td>
        </tr>

        <tr>
          <th>description</th>
          <td><%= device.description %></td>
        </tr>

        <tr>
          <th>temperature sensor value</th>
          <td><%= device.temperatureSensorValue %></td>
        </tr>

        <tr>
          <th>temperature target value</th>
          <td><%= device.temperatureTargetValue %></td>
        </tr>

        <tr>
          <th>volume</th>
          <td><%= device.volume %></td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
